
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

#main-heading {
    font-size: 28px;
}


nav ul {
    list-style: none;
    margin-top: 10px;
}

nav > ul > li {
    display: inline;
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: white;
}


a:hover {
    color: orange;
}


section {
    padding: 30px;
    width: 70%;
    margin: 20px auto;
}


.project-card {
    background: #f2f2f2;
    padding: 15px;
    margin: 10px 0;
    border-left: 4px solid teal;
}


input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

button {
    background: teal;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}


p::before {
    content: "👉 ";
}


footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
